<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>y'all</title>
		<link rel="shortcut icon" href="static/favicon.ico" />
		<script src="static/js/jquery-1.9.1.min.js"></script>
    	<script src="static/js/jquery-scroll.js"></script>
   		<script src="static/js/jquery-align.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#bg').bgscroll({scrollSpeed:10, direction:'d', heading: 'r'});
				$('#lord').vAlign().hAlign();
				var up = true;
				setInterval(function() {
					if ($(window).height() - 15 >= parseInt($('#lord').css('height').substr(0,$('#lord').css('height').length - 2)))
					{
						if (up) {
							$('#lord').css('width', String(parseInt($('#lord').css('width').substr(0,$('#lord').css('width').length - 2)) + 1) + "px");
							$('#lord').css('height', String(parseInt($('#lord').css('height').substr(0,$('#lord').css('height').length - 2)) + 1) + "px");
							$('#lord').vAlign().hAlign();
						}
					} else {
						up = false;
					}
					if (parseInt($('#lord').css('height').substr(0,$('#lord').css('height').length - 2)) != 124)
					{
						if (up != true) {
							$('#lord').css('width', String(parseInt($('#lord').css('width').substr(0,$('#lord').css('width').length - 2)) - 1) + "px");
							$('#lord').css('height', String(parseInt($('#lord').css('height').substr(0,$('#lord').css('height').length - 2)) - 1) + "px");
							$('#lord').vAlign().hAlign();
						}
					} else {
						up = true;
					}
				}, 0.2)
			});
		</script>
		<style type="text/css">
	    	html, body {
	    		height: 100%;
	    		margin: 0;
	    	}
			#bg
			{
				width: 100%;
				height: 100%;
				min-height: 100%;
				background-image: url('static/img/tartan/running away.png');
				z-index: 1;
			}
			a, #links
            {
                position: absolute;
                top: 2px;
                left: 2px;
                color: grey;
                font-size: 10px;
            }  
		</style>
	</head>
	<body>
		<img id='lord' src="static/img/fuckerlord.png" width='1px' height='1px'>
		<div id="bg"></div>
		<div id='links'><a href="/suckdick">#</a></div>
	</body>
</html>